# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.env
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.database.rules.json

# Next.js build output
.next

# Build cache & TypeScript
*.tsbuildinfo

# Reports, logs & temp files
eslint-report.json
recovered_block.txt
*.err

# Local environment files
.env*.local
.env.local

